#studentProfile #profileHead {
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 12px !important;
}

#studentProfile .ibox {
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 12px !important;
}

#studentProfile .ibox:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
